<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>404 Error</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="/title-img-64.png" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-dark bg-dark static-top mb-1">
      <div class="container">
        <a class="navbar-brand" href="/">onlineshort.me</a>
        <a class="btn btn-danger" href="#limit">limited functionality mode</a>
      </div>
    </nav>

    <div class="text-center">
      <h1>Page Not Found</h1>
    </div>

    <section class="p-5 mb-2">
      <div class="mx-auto" style="width: 400px; height: 200px">
        <img src="/main-img-404.svg" alt="" class="img-fluid" />
      </div>
    </section>

    <div class="text-center mb-2">
      <p>We will be redirecting you to Home in 5 seconds</p>
      <a class="btn btn-dark" href="/" role="button">Return to Home</a>
    </div>

    <div class="fixed-bottom"></div>

    <!-- Footer-->
    <footer class="footer bg-light mt-auto fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#!">About</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Contact</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
              <li class="list-inline-item">⋅</li>
              <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
              Developer :
              <a href="https://dev.to/lakinduchandula" target="_blank"
                >Lakindu C. Samarasinghe</a
              >
            </p>
            <p class="text-muted small mb-4 mb-lg-0">
              &copy; onlineshort.me @ 2021. All Rights Reserved.
            </p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-4">
                <a href="https://www.facebook.com/LakinduOnline" target="_blank"
                  ><i class="bi-facebook fs-3"></i
                ></a>
              </li>
              <li class="list-inline-item me-4">
                <a href="https://twitter.com/BCSamarasinghe" target="_blank"
                  ><i class="bi-twitter fs-3"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://www.instagram.com/lakinduchandula/"
                  target="_blank"
                  ><i class="bi-instagram fs-3"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- Core theme JS-->
    <script src="js/error.js"></script>
  </body>
</html>
